<html>

<head>
  <title>Planner</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="text/javascript" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js">
  <link rel="text/javascript" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js">
</head>

<body class="bg-light">
  <div class="container">
    <div class="py-5 text-center">
      <h2>Budget Calculator {{cost}}</h2>
      
    </div>
    <div class="row"> 
      <div class="col-md-10 order-md-1">
        <form action="{% url 'index'%}" class="card p-2" method="POST"> {% csrf_token %}
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">Days</th>
                <th scope="col">Units</th>
                <th scope="col">Unit Cost</th>
                <th scope="col">Total Cost</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Human Resources</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Ground Survey</td>
                <td><input type="number" class="form-control" min="0" id="ground_days" max="100" disabled></td>
                <td><input type="number" class="form-control" min="0" id="ground_unit"></td>
                <td><input type="number" class="form-control" min="0" id="ground_unit_cost"></td>
                <td><input type="number" class="form-control" min="0" id="ground_total" disabled></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>International Support</td>
                <td><input type="number" class="form-control" min="0" id="international_days" max="100" disabled></td>
                <td><input type="number" class="form-control" min="0" id="international_unit"></td>
                <td><input type="number" class="form-control" min="0" id="international_unit_cost"></td>
                <td><input type="number" class="form-control" min="0" id="international_total" disabled></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Project Manager</td>
                <td><input type="number" class="form-control" min="0" id="project_m_days" max="100" disabled></td>
                <td><input type="number" class="form-control" min="0" id="project_m_unit"></td>
                <td><input type="number" class="form-control" min="0" id="project_m_unit_cost"></td>
                <td><input type="number" class="form-control" min="0" id="project_m_total" disabled></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Drone Pilots</td>
                <td><input type="number" class="form-control" min="0" id="drone_p_days" max="100" disabled></td>
                <td><input type="number" class="form-control" min="0" id="drone_p_unit"></td>
                <td><input type="number" class="form-control" min="0" id="drone_p_unit_cost"></td>
                <td><input type="number" class="form-control" min="0" id="drone_p_total" disabled></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Data/GIS Specialist</td>
                <td><input type="number" class="form-control" min="0" id="gis_days" max="100" disabled></td>
                <td><input type="number" class="form-control" min="0" id="gis_unit"></td>
                <td><input type="number" class="form-control" min="0" id="gis_unit_cost"></td>
                <td><input type="number" class="form-control" min="0" id="gis_total" disabled></td>
              </tr>
              <tr>                
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <th scope="row">Total Amount</th>
                <td><input type="number" class="form-control" min="0" id="human_r_total" disabled></td>
              </tr>
              <tr>
                <th>Technology/Equipment</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Ground Survey</td>
                <td><input type="number" class="form-control" min="0" id="ground_days" max="100" disabled></td>
                <td><input type="number" class="form-control" min="0" id="ground_unit"></td>
                <td><input type="number" class="form-control" min="0" id="ground_unit_cost"></td>
                <td><input type="number" class="form-control" min="0" id="ground_total" disabled></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Drone Rental</td>
                <td><input type="number" class="form-control" min="0" id="drone_r_days" max="100" disabled></td>
                <td><input type="number" class="form-control" min="0" id="drone_r_unit"></td>
                <td><input type="number" class="form-control" min="0" id="drone_r_unit_cost" disabled></td>
                <td><input type="number" class="form-control" min="0" id="drone_r_total" disabled></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Laptop Rental</td>
                <td><input type="number" class="form-control" min="0" id="laptop_r_days" max="100" disabled></td>
                <td><input type="number" class="form-control" min="0" id="laptop_r_unit"></td>
                <td><input type="number" class="form-control" min="0" id="laptop_r_unit_cost"></td>
                <td><input type="number" class="form-control" min="0" id="laptop_r_total" disabled></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Software Rental</td>
                <td></td>
                <td><input type="number" class="form-control" min="0" id="software_r_unit"></td>
                <td><input type="number" class="form-control" min="0" id="software_r_unit_cost"></td>
                <td><input type="number" class="form-control" min="0" id="software_r_total" disabled></td>
              </tr>              
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <th scope="row">Total Amount</th>
                <td><input type="number" class="form-control" min="0" id="tech_r_total" disabled></td>
              </tr>
              <tr>
                <th>Operations, Logistics & Travel</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Organize flight permissions</td>
                <td><input type="number" class="form-control" min="0" id="flight_days" max="100"></td>
                <td><input type="number" class="form-control" min="0" id="flight_unit"></td>
                <td><input type="number" class="form-control" min="0" id="flight_unit_cost"></td>
                <td><input type="number" class="form-control" min="0" id="flight_total" disabled></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Local travel</td>
                <td><input type="number" class="form-control" min="0" id="travel_days" max="100" disabled></td>
                <td><input type="number" class="form-control" min="0" id="travel_unit" disabled></td>
                <td><input type="number" class="form-control" min="0" id="travel_unit_cost"></td>
                <td><input type="number" class="form-control" min="0" id="travel_total" disabled></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Local accomodation and per diem</td>
                <td><input type="number" class="form-control" min="0" id="accodomation_days" max="100" disabled></td>
                <td><input type="number" class="form-control" min="0" id="accodomation_unit" disabled></td>
                <td><input type="number" class="form-control" min="0" id="accodomation_unit_cost"></td>
                <td><input type="number" class="form-control" min="0" id="accodomation_total" disabled></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Community engagement</td>
                <td><input type="number" class="form-control" min="0" id="community_days" max="100"></td>
                <td><input type="number" class="form-control" min="0" id="community_unit"></td>
                <td><input type="number" class="form-control" min="0" id="community_unit_cost"></td>
                <td><input type="number" class="form-control" min="0" id="community_total" disabled></td>
              </tr>              
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <th scope="row">Total Amount</th>
                <td><input type="number" class="form-control" min="0" id="operations_total" disabled></td>
              </tr>
              <tr>
              <th>Other</th>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Insurance</td>
                <td><input type="number" class="form-control" min="0" id="insurance_days" max="100" disabled></td>
                <td><input type="number" class="form-control" min="0" id="insurance_unit" disabled></td>
                <td><input type="number" class="form-control" min="0" id="insurance_unit_cost"></td>
                <td><input type="number" class="form-control" min="0" id="insurance_total" disabled></td>
              </tr>                      
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <th scope="row">Total Amount</th>
                <td><input type="number" class="form-control" min="0" id="other_in_total" disabled></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <th scope="row">Sub-total</th>
                <td><input type="number" class="form-control" min="0" id="sub_total" disabled></td>
              </tr>
              <tr>
                <th>Other</th>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Project Management 10%</td>                
                <td><input type="number" class="form-control" min="0" id="project_m_unit" disabled></td>
                <td><input type="number" class="form-control" min="0" id="project_m_unit_cost" disabled></td>
                <td><input type="number" class="form-control" min="0" id="project_m_total" disabled></td>
                <td></td>
              </tr>  
              <tr>
                <th scope="row"></th>
                <td>Project Overhead 15%</td>
                <td><input type="number" class="form-control" min="0" id="project_o_unit" disabled></td>
                <td><input type="number" class="form-control" min="0" id="project_o_unit_cost" disabled></td>
                <td><input type="number" class="form-control" min="0" id="project_o_total" disabled></td>
                <td></td>
              </tr>                    
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <th scope="row">Total</th>
                <td><input type="number" class="form-control" min="0" id="total_overal" disabled></td>
              </tr>
            </tbody>
          </table>
          <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" type="submit">Calculate mission estimates</button>
        </form>
      </div>
    
    
    </div>
  </div>
  {% block javascript %}
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script>
    $(function () {
      $(document).on('change', "#drone", function (e) {
        let value = $(this).val();
        var data = { value };
        var settings = {
          "url": "{% url 'drone' %}",
          "method": "GET",
          "timeout": 0,
          "headers": {
            "Content-Type": "application/json"
          },
          "data": data,
        };
        $.ajax(settings).done(function (response) {
          console.log(response);
          drone = response.data;
          $('#flightTime').val(drone.flight_time);
          $('#cruiseSpeed').val(drone.cruise_speed);
        });
      });


      $(document).on('change', "#survey_select", function (e) {
        let value = $(this).val();
        var data = { value };
        var settings = {
          "url": "{% url 'survey' %}",
          "method": "GET",
          "timeout": 0,
          "headers": {
            "Content-Type": "application/json"
          },
          "data": data,
        };
        $.ajax(settings).done(function (response) {
          console.log(response);
          survey = response.data;
          $('#forward').val(survey.forward);
          $('#lateral').val(survey.lateral);
        });
      });

    });
  </script>
  {% endblock javascript %}
</body>