<html>

<head>
  <title>Planner | Budget</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">  
</head>

<body class="bg-light">
  <div class="modal fade" tabindex="-1" role="dialog" id="progressModal" aria-labelledby="progressModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Processing</h5>          
        </div>
        <div class="modal-body">
          <div class="text-center" id="loader">
            <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem; z-index: 20;" role="status">
              <span class="sr-only">Processing ....</span>
            </div>
          </div>
        </div>
        <div class="modal-footer">         
        </div>
      </div>
    </div>
  </div>
  <div class="container">    
    <div class="py-5 text-center">
      <h2>Budget Calculator {{cost}} </h2>           
    </div>
    <div class="row"> 
      <div class="col-md-10 order-md-1">
        <form action="{% url 'budget_adjustment'%}" class="card p-2 test" method="POST"> {% csrf_token %}
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">Days</th>
                <th scope="col">Units</th>
                <th scope="col">Unit Cost</th>
                <th scope="col">Total Cost</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Human Resources</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Ground Survey</td>
                {% for budget_item_cost in budget_item_costs %}
                    {% if  budget_item_cost.budget_item.name == 'Ground Survey' %}        
                <td><input type="number" class="form-control" min="0" name="ground_days" id="ground_days" max="100" value ={{budget_item_cost.days}}></td>
                <td><input type="number" class="form-control" min="0" name="ground_unit" id="ground_unit" value ={{budget_item_cost.units}} ></td>
                <td><input type="number" class="form-control" min="0" name="ground_unit_cost" id="ground_unit_cost" value ={{budget_item_cost.unitCost}}></td>
                <td><input type="number" class="form-control" min="0" name="ground_total" id="ground_total" value ={{budget_item_cost.totalCost}}></td>
                  {% endif %}
                {% endfor %} 
              </tr>
              <tr id="row_int_support">
                <th scope="row">
                  <div>
                    <label for="check_int_support">Disable</label> <br>
                    <input type="checkbox" id="check_int_support" name="check_int_support">
                  </div>
                </th>
                <td>International Support</td>
                {% for budget_item_cost in budget_item_costs %}
                    {% if  budget_item_cost.budget_item.name == 'International support' %}   
                <td><input type="number" class="form-control" min="0" id="international_days" name="international_days" max="100"  value ={{budget_item_cost.days}} readonly></td>
                <td><input type="number" class="form-control" min="0" id="international_unit" name="international_unit" value ={{budget_item_cost.units}}></td>
                <td><input type="number" class="form-control" min="0" id="international_unit_cost" name="international_unit_cost" value ={{budget_item_cost.unitCost}}></td>
                <td><input type="number" class="form-control" min="0" id="international_total" name="international_total" readonly value ={{budget_item_cost.totalCost}}></td>
                  {% endif %}
                {% endfor %} 
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Project Manager</td>
                {% for budget_item_cost in budget_item_costs %}
                {% if  budget_item_cost.budget_item.name == 'Project Manager' %}
                <td><input type="number" class="form-control" min="0" name="project_manager_days" max="100" readonly value={{budget_item_cost.days}}></td>
                <td><input type="number" class="form-control" min="0" name="project_manager_unit" value={{budget_item_cost.units}}></td>
                <td><input type="number" class="form-control" min="0" name="project_manager_unit_cost"  value={{budget_item_cost.unitCost}}></td>
                <td><input type="number" class="form-control" min="0" name="project_manager_total" readonly value={{budget_item_cost.totalCost}}></td>
                {% endif %}
                {% endfor %} 
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Drone Pilots</td>
                {% for budget_item_cost in budget_item_costs %}
                {% if  budget_item_cost.budget_item.name == 'Drone Pilots' %}
                <td><input type="number" class="form-control" min="0" id="drone_p_days" name="drone_p_days" max="100" readonly value ={{budget_item_cost.days}}></td>
                <td><input type="number" class="form-control" min="0" id="drone_p_unit" name="drone_p_unit" value ={{budget_item_cost.units}}></td>
                <td><input type="number" class="form-control" min="0" id="drone_p_unit_cost" name="drone_p_unit_cost" value ={{budget_item_cost.unitCost}}></td>
                <td><input type="number" class="form-control" min="0" id="drone_p_total" name="drone_p_total" readonly value ={{budget_item_cost.totalCost}}></td>
                {% endif %}
                {% endfor %} 
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Data/GIS Specialist</td>
                {% for budget_item_cost in budget_item_costs %}
                {% if  budget_item_cost.budget_item.name == 'Data Gis specialist' %}
                <td><input type="number" class="form-control" min="0" id="gis_days" name="gis_days" max="100" readonly value ={{budget_item_cost.days}}></td>
                <td><input type="number" class="form-control" min="0" id="gis_unit" name="gis_unit" value ={{budget_item_cost.units}}></td>
                <td><input type="number" class="form-control" min="0" id="gis_unit_cost" name="gis_unit_cost" value ={{budget_item_cost.unitCost}}></td>
                <td><input type="number" class="form-control" min="0" id="gis_total" name="gis_total" readonly value ={{budget_item_cost.totalCost}}></td>
                {% endif %}
                {% endfor %} 
              </tr>
              <tr>                
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <th scope="row">Total Amount</th>
                {% for department_cost in department_costs %}
                {% if  department_cost.department.name == 'Human Resources' %}
                <td><input type="number" class="form-control" min="0" id="human_r_total" name="human_r_total" readonly value="{{department_cost.total_Cost}}"></td>
                {% endif %}
                {% endfor %} 
              </tr>
              <tr>
                <th>Technology/Equipment</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>              
              <tr>
                <th scope="row"></th>
                <td>Drone Rental</td>
                {% for budget_item_cost in budget_item_costs %}
                {% if  budget_item_cost.budget_item.name == 'Drone Rental' %}
                <td><input type="number" class="form-control" min="0" id="drone_r_days" name="drone_r_days" max="100" readonly value ={{budget_item_cost.days}}></td>
                <td><input type="number" class="form-control" min="0" id="drone_r_unit" name="drone_r_unit" value ={{budget_item_cost.units}}></td>
                <td><input type="number" class="form-control" min="0" id="drone_r_unit_cost" name="drone_r_unit_cost" value ={{budget_item_cost.unitCost}}></td>
                <td><input type="number" class="form-control" min="0" id="drone_r_total" name="drone_r_total" readonly value ={{budget_item_cost.totalCost}}></td>
                {% endif %}
                {% endfor %} 
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Laptop Rental</td>
                {% for budget_item_cost in budget_item_costs %}
                {% if  budget_item_cost.budget_item.name == 'Laptop Rental' %}
                <td><input type="number" class="form-control" min="0" id="laptop_r_days" name="laptop_r_days" max="100" readonly value ={{budget_item_cost.days}}></td>
                <td><input type="number" class="form-control" min="0" id="laptop_r_unit_cost" name="laptop_r_unit_cost" value ={{budget_item_cost.units}}></td>
                <td><input type="number" class="form-control" min="0" id="laptop_r_unit" name="laptop_r_unit" value ={{budget_item_cost.unitCost}}></td>
                <td><input type="number" class="form-control" min="0" id="laptop_r_total" name="laptop_r_total" readonly value ={{budget_item_cost.totalCost}}></td>
                {% endif %}
                {% endfor %} 
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Software Rental</td>
                {% for budget_item_cost in budget_item_costs %}
                {% if  budget_item_cost.budget_item.name == 'Software Rental' %}
                <td></td>
                <td><input type="number" class="form-control" min="0" id="software_r_unit" name="software_r_unit" value ={{budget_item_cost.units}}></td>
                <td><input type="number" class="form-control" min="0" id="software_r_unit_cost" name="software_r_unit_cost" value ={{budget_item_cost.unitCost}}></td>
                <td><input type="number" class="form-control" min="0" id="software_r_total" name="software_r_total" readonly value ={{budget_item_cost.totalCost}}></td>
                {% endif %}
                {% endfor %} 
              </tr>              
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <th scope="row">Total Amount</th>
                {% for department_cost in department_costs %}
                {% if  department_cost.department.name == 'Technology' %}
                <td><input type="number" class="form-control" min="0" id="tech_r_total" name="tech_r_total" readonly value="{{department_cost.total_Cost}}"></td>
                {% endif %}
                {% endfor %} 
              </tr>
              <tr>
                <th>Operations, Logistics & Travel</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Organize flight permissions</td>
                {% for budget_item_cost in budget_item_costs %}
                {% if  budget_item_cost.budget_item.name == 'Organize flight permissions' %}
                <td><input type="number" class="form-control" min="0" id="flight_days" name="flight_days" max="100" value ={{budget_item_cost.days}}></td>
                <td><input type="number" class="form-control" min="0" id="flight_unit" name="flight_unit" value ={{budget_item_cost.units}}></td>
                <td><input type="number" class="form-control" min="0" id="flight_unit_cost" name="flight_unit_cost" value ={{budget_item_cost.unitCost}}></td>
                <td><input type="number" class="form-control" min="0" id="flight_total" name="flight_total" readonly value ={{budget_item_cost.totalCost}}></td>
                {% endif %}
                {% endfor %}
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Local travel</td>
                {% for budget_item_cost in budget_item_costs %}
                {% if  budget_item_cost.budget_item.name == 'Local Travel' %}
                <td><input type="number" class="form-control" min="0" id="travel_days" name="travel_days" max="100" readonly hidden value ={{budget_item_cost.days}}></td>
                <td><input type="number" class="form-control" min="0" id="travel_unit" name="travel_unit" readonly hidden value ={{budget_item_cost.units}}></td>
                <td><input type="number" class="form-control" min="0" id="travel_unit_cost" name="travel_unit_cost" value ={{budget_item_cost.unitCost}}></td>
                <td><input type="number" class="form-control" min="0" id="travel_total" name="travel_total" readonly value ={{budget_item_cost.totalCost}}></td>
                {% endif %}
                {% endfor %}
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Local accomodation and per diem</td>
                {% for budget_item_cost in budget_item_costs %}
                {% if  budget_item_cost.budget_item.name == 'Local accomodation and per diem' %}
                <td><input type="number" class="form-control" min="0" id="accodomation_days"  name="accodomation_days" max="100" hidden readonly value ={{budget_item_cost.days}}></td>
                <td><input type="number" class="form-control" min="0" id="accodomation_unit" name="accodomation_unit" hidden readonly value ={{budget_item_cost.units}}></td>
                <td><input type="number" class="form-control" min="0" id="accodomation_unit_cost" name="accodomation_unit_cost" value ={{budget_item_cost.unitCost}}></td>
                <td><input type="number" class="form-control" min="0" id="accodomation_total" name="accodomation_total" readonly value ={{budget_item_cost.totalCost}}></td>
                {% endif %}
                {% endfor %}
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Community engagement</td>
                {% for budget_item_cost in budget_item_costs %}
                {% if  budget_item_cost.budget_item.name == 'Community engagement' %}
                <td><input type="number" class="form-control" min="0" id="community_days" name="community_days" max="100" value ={{budget_item_cost.days}}></td>
                <td><input type="number" class="form-control" min="0" id="community_unit" name="community_unit" value ={{budget_item_cost.units}}></td>
                <td><input type="number" class="form-control" min="0" id="community_unit_cost" name="community_unit_cost" value ={{budget_item_cost.unitCost}}></td>
                <td><input type="number" class="form-control" min="0" id="community_total" name="community_total" readonly value ={{budget_item_cost.totalCost}}></td>
                {% endif %}
                {% endfor %}
              </tr>              
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <th scope="row">Total Amount</th>
                {% for department_cost in department_costs %}
                {% if  department_cost.department.name == 'Operations' %}
                <td><input type="number" class="form-control" min="0" id="operations_total" name="operations_total" readonly value="{{department_cost.total_Cost}}"></td>
                {% endif %}
                {% endfor %}
              </tr>
              <tr>
              <th colspan='6'>Other</th>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Insurance</td>
                {% for budget_item_cost in budget_item_costs %}
                {% if  budget_item_cost.budget_item.name == 'Insurance' %}
                <td><input type="number" class="form-control" min="0" id="insurance_days" name="insurance_days" max="100" readonly value ={{budget_item_cost.days}} hidden></td>
                <td><input type="number" class="form-control" min="0" id="insurance_unit" name="insurance_unit" readonly value ={{budget_item_cost.units}}></td>
                <td><input type="number" class="form-control" min="0" id="insurance_unit_cost" name="insurance_unit_cost" value ={{budget_item_cost.unitCost}}></td>
                <td><input type="number" class="form-control" min="0" id="insurance_total" name="insurance_total" readonly value ={{budget_item_cost.totalCost}}></td>
                {% endif %}
                {% endfor %}
              </tr>                      
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <th scope="row">Total Amount</th>
                {% for department_cost in department_costs %}
                {% if  department_cost.department.name == 'Other' %}
                <td><input type="number" class="form-control" min="0" id="other_in_total" name="other_in_total" readonly value="{{department_cost.total_Cost}}"></td>
                {% endif %}
                {% endfor %}
              </tr>
              <tr>
                
                <th colspan='5'>Sub-total</th>                
                <td><input type="number" class="form-control" min="0" id="sub_total" name="sub_total" value={{budget_sub_total.cost}} readonly></td>                
              </tr>
              <tr>
                <th colspan='6'>Other</th>
              </tr> 
              <tr>
                <th scope="row"></th>
                <td>Project Management (%)</td>  
                {% for budget_item_cost in budget_item_costs %}
                {% if  budget_item_cost.budget_item.name == 'Project Management' %}                           
                <td><input type="number" class="form-control" min="0" id="project_m_unit" name="project_m_unit" readonly value ={{budget_item_cost.units}} hidden></td>
                <td><input type="number" class="form-control"  id="project_m_unit_cost" name="project_m_unit_cost"  value ={% widthratio budget_item_cost.unitCost 1 100 %}></td>   
                <td></td>
                <td><input type="number" class="form-control" min="0" id="project_m_total" name="project_m_total" readonly value ={{budget_item_cost.totalCost}}></td>
                {% endif %}
                {% endfor %}
              </tr>  
              <tr>
                <th scope="row"></th>
                {% for budget_item_cost in budget_item_costs %}
                {% if  budget_item_cost.budget_item.name == 'Project Overhead' %} 
                <td><input type="hidden" value={{budget_item_cost.budget_item.name}}/>{{budget_item_cost.budget_item.name}} (%)</td>                
                <td><input type="number" class="form-control" min="0" id="project_o_unit" name="project_o_unit" readonly value ={{budget_item_cost.units}} hidden></td>
                <td><input type="number" class="form-control" id="project_o_unit_cost" name="project_o_unit_cost"  value ={% widthratio budget_item_cost.unitCost 1 100 %} ></td>
                <td></td>
                <td><input type="number" class="form-control" min="0" id="project_o_total" id="project_o_total" name="project_o_total" readonly value ={{budget_item_cost.totalCost}}></td>
                {% endif %}
                {% endfor %}
              </tr>                    
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <th scope="row">Total</th>
                      <td><input type="number" class="form-control" min="0" id="total_overal" name="total_overal" readonly value="{{budget_estimate.cost}}"></td>
              </tr>
            </tbody>
          </table>
          <hr class="mb-4">
          <!-- <button class="btn btn-primary btn-lg btn-block" type="submit">Calculate budget estimates</button>       -->
        </form>
        <form class="card p-2" method="POST" action="{% url 'index'%}">{% csrf_token %}
          <input hidden name="back_button" id="back_button" type="number" value="0">
          <button class="btn btn-secondary btn-lg btn-block" type="submit">Back</button>
        </form>
      </div>
    
    
    </div>
  </div>
  {% block javascript %}
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
  <script>
    $(function () {
      $(document).ready(function() {          
          $('#progressModal').modal({
              backdrop: 'static',
              keyboard: false,
              show: false
          });
      });

      $(document).on('change', "#check_int_support", function (e) {
        $('#row_int_support').hide();
        //put the values of the inputs to zero 
        $("[name='international_unit']").val(0);
  
        $("[name='international_unit_cost']").val(0);
     
        // prompt("Check check !!");
        unit = $("[name='international_unit']").val();
        cost = $("[name='international_unit']").val();

        // console.log("Unit value "+unit+ " Cost "+ cost);
      });
    });

    $('.test').on('change focusout',function (e){
        e.preventDefault();
        var data = $(this).serialize(); 
        $.ajax({
          type: 'POST',
          url:"{% url 'budget_adjustment' %}",
          data: data,
          beforeSend: function(){
            // $('#progressModal').modal("show");
         },
          success: function(response){
          //  location.reload();
          //  console.log(response);
           budgetItemCosts = response.data.budget_item_costs;
           departmentItemCosts = response.data.department_costs;
          //  console.log(budgetItemCosts);
           $('#total_overal').val(response.data.budget_estimate);
           $('#sub_total').val(response.data.budget_sub_total); 
          
            assignBudgetItemCosts(budgetItemCosts);
            assignDepartmentCosts(departmentItemCosts);    
           
          },
         complete:function(data){
          // $('#progressModal').modal("hide");
         }
        })      
    });
   
   
    function assignBudgetItemCosts(budgetItemCosts){
      for( var i = 0; i<budgetItemCosts.length;i++){
              // console.log(budgetItemCosts[i].budget_item__name);
              item = budgetItemCosts[i];             

              switch(item.budget_item__name){
                case 'Ground Survey':
                      $('#ground_days').val(item.days);
                      $('#ground_unit').val(item.units);
                      $('#ground_unit_cost').val(item.unitCost);
                      $('#ground_total').val(item.totalCost);
                      break;
                case 'International support':   
                      $('#international_days').val(item.days);
                      $('#international_unit').val(item.units);
                      $('#international_unit_cost').val(item.unitCost);
                      $('#international_total').val(item.totalCost);
                      break;  
                case 'Project Manager':   
                      $('#project_manager_days').val(item.days);
                      $('#project_manager_unit').val(item.units);
                      $('#project_manager_unit_cost').val(item.unitCost);
                      $('#project_manager_total').val(item.totalCost);
                      break;        
                case 'Drone Pilots':   
                      $('#drone_p_days').val(item.days);
                      $('#drone_p_unit').val(item.units);
                      $('#drone_p_unit_cost').val(item.unitCost);
                      $('#drone_p_total').val(item.totalCost);
                      break;      
                case 'Data Gis specialist':   
                      $('#gis_days').val(item.days);
                      $('#gis_unit').val(item.units);
                      $('#gis_unit_cost').val(item.unitCost);
                      $('#gis_total').val(item.totalCost);
                      break;          
                case 'Drone Rental':   
                      $('#drone_r_days').val(item.days);
                      $('#drone_r_unit').val(item.units);
                      $('#drone_r_unit_cost').val(item.unitCost);
                      $('#drone_r_total').val(item.totalCost);
                      break;  
                case 'Laptop Rental':   
                      $('#laptop_r_days').val(item.days);
                      $('#laptop_r_unit').val(item.units);
                      $('#laptop_r_unit_cost').val(item.unitCost);
                      $('#laptop_r_total').val(item.totalCost);
                      break;
                case 'Software Rental':   
                      $('#software_r_days').val(item.days);
                      $('#software_r_unit').val(item.units);
                      $('#software_r_unit_cost').val(item.unitCost);
                      $('#software_r_total').val(item.totalCost);
                      break;  
                case 'Organize flight permissions':   
                      $('#flight_days').val(item.days);
                      $('#flight_unit').val(item.units);
                      $('#flight_unit_cost').val(item.unitCost);
                      $('#flight_total').val(item.totalCost);
                      break;        
                case 'Local Travel':   
                      $('#travel_days').val(item.days);
                      $('#travel_unit').val(item.units);
                      $('#travel_unit_cost').val(item.unitCost);
                      $('#travel_total').val(item.totalCost);
                      break;
                case 'Local accomodation and per diem':   
                      $('#accodomation_days').val(item.days);
                      $('#accodomation_unit').val(item.units);
                      $('#accodomation_unit_cost').val(item.unitCost);
                      $('#accodomation_total').val(item.totalCost);
                      break;  
                case 'Community engagement':   
                      $('#community_days').val(item.days);
                      $('#community_unit').val(item.units);
                      $('#community_unit_cost').val(item.unitCost);
                      $('#community_total').val(item.totalCost);
                      break; 
                case 'Insurance':   
                      $('#insurance_days').val(item.days);
                      $('#insurance_unit').val(item.units);
                      $('#insurance_unit_cost').val(item.unitCost);
                      $('#insurance_total').val(item.totalCost);
                      break;
                case 'Project Management':   
                      $('#project_m_unit').val(item.units);
                      $('#project_m_unit_cost').val(item.unitCost * 100);
                      $('#project_m_total').val(item.totalCost);
                      break;  
                case 'Project Overhead':   
                      $('#project_o_unit_unit').val(item.units);
                      $('#project_o_unit_unit_cost').val(item.unitCost);
                      $('#project_o_unit_total').val(item.totalCost);
                      break;          
                      
              }              
               
            }         
    }

    function assignDepartmentCosts(departmentItemCosts){
      for( var i = 0; i<departmentItemCosts.length;i++){
              // console.log(departmentItemCosts[i].department__name);
              item = departmentItemCosts[i];

              switch(item.budget_item__name){
                case 'Human Resources':                      
                      $('#human_r_total').val(item.total_Cost);
                      break;
                case 'Technology':                     
                      $('#tech_r_total').val(item.total_Cost);
                      break;
                case 'Operations':   
                      $('#operations_total').val(item.total_Cost);
                      break;  
                case 'Other':   
                      $('#other_in_total').val(item.total_Cost);
                      break;        
                case 'Project':   
                      $('#project_o_total').val(item.total_Cost);
                      break; 
              }
      }     
    }
  //  function checkChanged(){
  //   // $("#check_int_support").live("click", function(){
  //   //     var id = parseInt($(this).val(), 10);
  //   //     if($(this).is(":checked")) {
  //   //         // checkbox is checked -> do something
  //   //         prompt("Check check !!")
  //   //     } else {
  //   //         // checkbox is not checked -> do something different
  //   //     }}
  //   //     );
  //  }
  </script>
  {% endblock javascript %}
</body>