<html>

<head>
  <title>Planner | Budget</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="text/javascript" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js">
  <link rel="text/javascript" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js">
</head>

<body class="bg-light">
  <div class="container">
    <div class="py-5 text-center">
      <h2>Budget Calculator {{cost}} </h2>
           
    </div>
    <div class="row"> 
      <div class="col-md-10 order-md-1">
        <form action="{% url 'budget_adjustment'%}" class="card p-2 test" method="POST"> {% csrf_token %}
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">Days</th>
                <th scope="col">Units</th>
                <th scope="col">Unit Cost</th>
                <th scope="col">Total Cost</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Human Resources</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Ground Survey</td>
                {% for budget_item_cost in budget_item_costs %}
                    {% if  budget_item_cost.budget_item.name == 'Ground Survey' %}        
                <td><input type="number" class="form-control" min="0" name="ground_days" id="ground_days" max="100" readonly value ={{budget_item_cost.days}}></td>
                <td><input type="number" class="form-control" min="0" name="ground_unit" id="ground_unit" value ={{budget_item_cost.units}} readonly></td>
                <td><input type="number" class="form-control" min="0" name="ground_unit_cost" id="ground_unit_cost" value ={{budget_item_cost.unitCost}} readonly></td>
                <td><input type="number" class="form-control" min="0" name="ground_total" id="ground_total" readonly value ={{budget_item_cost.totalCost}}></td>
                  {% endif %}
                {% endfor %} 
              </tr>
              <tr id="row_int_support">
                <th scope="row">
                  <div>
                    <label for="check_int_support">Disable</label> <br>
                    <input type="checkbox" id="check_int_support" name="check_int_support" onchange="checkChanged()">
                  </div>
                </th>
                <td>International Support</td>
                {% for budget_item_cost in budget_item_costs %}
                    {% if  budget_item_cost.budget_item.name == 'International support' %}   
                <td><input type="number" class="form-control" min="0" name="international_days" max="100"  value ={{budget_item_cost.days}} readonly></td>
                <td><input type="number" class="form-control" min="0" name="international_unit" value ={{budget_item_cost.units}}></td>
                <td><input type="number" class="form-control" min="0" name="international_unit_cost" value ={{budget_item_cost.unitCost}}></td>
                <td><input type="number" class="form-control" min="0" name="international_total" readonly value ={{budget_item_cost.totalCost}}></td>
                  {% endif %}
                {% endfor %} 
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Project Manager</td>
                {% for budget_item_cost in budget_item_costs %}
                {% if  budget_item_cost.budget_item.name == 'Project Manager' %}
                <td><input type="number" class="form-control" min="0" name="project_manager_days" max="100" readonly value={{budget_item_cost.days}}></td>
                <td><input type="number" class="form-control" min="0" name="project_manager_unit" value={{budget_item_cost.units}}></td>
                <td><input type="number" class="form-control" min="0" name="project_manager_unit_cost"  value={{budget_item_cost.unitCost}}></td>
                <td><input type="number" class="form-control" min="0" name="project_manager_total" readonly value={{budget_item_cost.totalCost}}></td>
                {% endif %}
                {% endfor %} 
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Drone Pilots</td>
                {% for budget_item_cost in budget_item_costs %}
                {% if  budget_item_cost.budget_item.name == 'Drone Pilots' %}
                <td><input type="number" class="form-control" min="0" name="drone_p_days" max="100" readonly value ={{budget_item_cost.days}}></td>
                <td><input type="number" class="form-control" min="0" name="drone_p_unit" value ={{budget_item_cost.units}}></td>
                <td><input type="number" class="form-control" min="0" name="drone_p_unit_cost" value ={{budget_item_cost.unitCost}}></td>
                <td><input type="number" class="form-control" min="0" name="drone_p_total" readonly value ={{budget_item_cost.totalCost}}></td>
                {% endif %}
                {% endfor %} 
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Data/GIS Specialist</td>
                {% for budget_item_cost in budget_item_costs %}
                {% if  budget_item_cost.budget_item.name == 'Data Gis specialist' %}
                <td><input type="number" class="form-control" min="0" name="gis_days" max="100" readonly value ={{budget_item_cost.days}}></td>
                <td><input type="number" class="form-control" min="0" name="gis_unit" value ={{budget_item_cost.units}}></td>
                <td><input type="number" class="form-control" min="0" name="gis_unit_cost" value ={{budget_item_cost.unitCost}}></td>
                <td><input type="number" class="form-control" min="0" name="gis_total" readonly value ={{budget_item_cost.totalCost}}></td>
                {% endif %}
                {% endfor %} 
              </tr>
              <tr>                
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <th scope="row">Total Amount</th>
                {% for department_cost in department_costs %}
                {% if  department_cost.department.name == 'Human Resources' %}
                <td><input type="number" class="form-control" min="0" name="human_r_total" readonly value="{{department_cost.total_Cost}}"></td>
                {% endif %}
                {% endfor %} 
              </tr>
              <tr>
                <th>Technology/Equipment</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>              
              <tr>
                <th scope="row"></th>
                <td>Drone Rental</td>
                {% for budget_item_cost in budget_item_costs %}
                {% if  budget_item_cost.budget_item.name == 'Drone Rental' %}
                <td><input type="number" class="form-control" min="0" name="drone_r_days" max="100" readonly value ={{budget_item_cost.days}}></td>
                <td><input type="number" class="form-control" min="0" name="drone_r_unit" value ={{budget_item_cost.units}}></td>
                <td><input type="number" class="form-control" min="0" name="drone_r_unit_cost" readonly value ={{budget_item_cost.unitCost}}></td>
                <td><input type="number" class="form-control" min="0" name="drone_r_total" readonly value ={{budget_item_cost.totalCost}}></td>
                {% endif %}
                {% endfor %} 
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Laptop Rental</td>
                {% for budget_item_cost in budget_item_costs %}
                {% if  budget_item_cost.budget_item.name == 'Laptop Rental' %}
                <td><input type="number" class="form-control" min="0" name="laptop_r_days" max="100" readonly value ={{budget_item_cost.days}}></td>
                <td><input type="number" class="form-control" min="0" name="laptop_r_unit_cost" value ={{budget_item_cost.units}}></td>
                <td><input type="number" class="form-control" min="0" name="laptop_r_unit" readonly value ={{budget_item_cost.unitCost}}></td>
                <td><input type="number" class="form-control" min="0" name="laptop_r_total" readonly value ={{budget_item_cost.totalCost}}></td>
                {% endif %}
                {% endfor %} 
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Software Rental</td>
                {% for budget_item_cost in budget_item_costs %}
                {% if  budget_item_cost.budget_item.name == 'Software Rental' %}
                <td></td>
                <td><input type="number" class="form-control" min="0" name="software_r_unit" value ={{budget_item_cost.units}}></td>
                <td><input type="number" class="form-control" min="0" name="software_r_unit_cost" value ={{budget_item_cost.unitCost}}></td>
                <td><input type="number" class="form-control" min="0" name="software_r_total" readonly value ={{budget_item_cost.totalCost}}></td>
                {% endif %}
                {% endfor %} 
              </tr>              
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <th scope="row">Total Amount</th>
                {% for department_cost in department_costs %}
                {% if  department_cost.department.name == 'Technology' %}
                <td><input type="number" class="form-control" min="0" name="tech_r_total" readonly value="{{department_cost.total_Cost}}"></td>
                {% endif %}
                {% endfor %} 
              </tr>
              <tr>
                <th>Operations, Logistics & Travel</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Organize flight permissions</td>
                {% for budget_item_cost in budget_item_costs %}
                {% if  budget_item_cost.budget_item.name == 'Organize flight permissions' %}
                <td><input type="number" class="form-control" min="0" name="flight_days" max="100" value ={{budget_item_cost.days}}></td>
                <td><input type="number" class="form-control" min="0" name="flight_unit" value ={{budget_item_cost.units}}></td>
                <td><input type="number" class="form-control" min="0" name="flight_unit_cost" value ={{budget_item_cost.unitCost}}></td>
                <td><input type="number" class="form-control" min="0" name="flight_total" readonly value ={{budget_item_cost.totalCost}}></td>
                {% endif %}
                {% endfor %}
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Local travel</td>
                {% for budget_item_cost in budget_item_costs %}
                {% if  budget_item_cost.budget_item.name == 'Local Travel' %}
                <td><input type="number" class="form-control" min="0" name="travel_days" max="100" readonly value ={{budget_item_cost.days}}></td>
                <td><input type="number" class="form-control" min="0" name="travel_unit" readonly value ={{budget_item_cost.units}}></td>
                <td><input type="number" class="form-control" min="0" name="travel_unit_cost" value ={{budget_item_cost.unitCost}}></td>
                <td><input type="number" class="form-control" min="0" name="travel_total" readonly value ={{budget_item_cost.totalCost}}></td>
                {% endif %}
                {% endfor %}
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Local accomodation and per diem</td>
                {% for budget_item_cost in budget_item_costs %}
                {% if  budget_item_cost.budget_item.name == 'Local accomodation and per diem' %}
                <td><input type="number" class="form-control" min="0" name="accodomation_days" max="100" readonly value ={{budget_item_cost.days}}></td>
                <td><input type="number" class="form-control" min="0" name="accodomation_unit" readonly value ={{budget_item_cost.units}}></td>
                <td><input type="number" class="form-control" min="0" name="accodomation_unit_cost" value ={{budget_item_cost.unitCost}}></td>
                <td><input type="number" class="form-control" min="0" name="accodomation_total" readonly value ={{budget_item_cost.totalCost}}></td>
                {% endif %}
                {% endfor %}
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Community engagement</td>
                {% for budget_item_cost in budget_item_costs %}
                {% if  budget_item_cost.budget_item.name == 'Community engagement' %}
                <td><input type="number" class="form-control" min="0" name="community_days" max="100" value ={{budget_item_cost.days}}></td>
                <td><input type="number" class="form-control" min="0" name="community_unit" value ={{budget_item_cost.units}}></td>
                <td><input type="number" class="form-control" min="0" name="community_unit_cost" value ={{budget_item_cost.unitCost}}></td>
                <td><input type="number" class="form-control" min="0" name="community_total" readonly value ={{budget_item_cost.totalCost}}></td>
                {% endif %}
                {% endfor %}
              </tr>              
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <th scope="row">Total Amount</th>
                {% for department_cost in department_costs %}
                {% if  department_cost.department.name == 'Operations' %}
                <td><input type="number" class="form-control" min="0" name="operations_total" readonly value="{{department_cost.total_Cost}}"></td>
                {% endif %}
                {% endfor %}
              </tr>
              <tr>
              <th colspan='6'>Other</th>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Insurance</td>
                {% for budget_item_cost in budget_item_costs %}
                {% if  budget_item_cost.budget_item.name == 'Insurance' %}
                <td><input type="number" class="form-control" min="0" name="insurance_days" max="100" readonly value ={{budget_item_cost.days}} hidden></td>
                <td><input type="number" class="form-control" min="0" name="insurance_unit" readonly value ={{budget_item_cost.units}}></td>
                <td><input type="number" class="form-control" min="0" name="insurance_unit_cost" value ={{budget_item_cost.unitCost}}></td>
                <td><input type="number" class="form-control" min="0" name="insurance_total" readonly value ={{budget_item_cost.totalCost}}></td>
                {% endif %}
                {% endfor %}
              </tr>                      
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <th scope="row">Total Amount</th>
                {% for department_cost in department_costs %}
                {% if  department_cost.department.name == 'Other' %}
                <td><input type="number" class="form-control" min="0" name="other_in_total" readonly value="{{department_cost.total_Cost}}"></td>
                {% endif %}
                {% endfor %}
              </tr>
              <tr>
                
                <th colspan='5'>Sub-total</th>                
                <td><input type="number" class="form-control" min="0" name="sub_total" value={{budget_sub_total.cost}} readonly></td>                
              </tr>
              <tr>
                <th colspan='6'>Other</th>
              </tr> 
              <tr>
                <th scope="row"></th>
                <td>Project Management (%)</td>  
                {% for budget_item_cost in budget_item_costs %}
                {% if  budget_item_cost.budget_item.name == 'Project Management' %}  
                <td><input type="number" class="form-control"  name="project_m_unit_cost"  value ={% widthratio budget_item_cost.unitCost 1 100 %}></td>            
                <td><input type="number" class="form-control" min="0" name="project_m_unit" readonly value ={{budget_item_cost.units}} hidden></td>
                <td></td>
                <td><input type="number" class="form-control" min="0" name="project_m_total" readonly value ={{budget_item_cost.totalCost}}></td>
                {% endif %}
                {% endfor %}
              </tr>  
              <tr>
                <th scope="row"></th>
                {% for budget_item_cost in budget_item_costs %}
                {% if  budget_item_cost.budget_item.name == 'Project Overhead' %} 
                <td><input type="hidden" value={{budget_item_cost.budget_item.name}}/>{{budget_item_cost.budget_item.name}} (%)</td>
                <td><input type="number" class="form-control" name="project_o_unit_cost"  value ={% widthratio budget_item_cost.unitCost 1 100 %} ></td>
                <td><input type="number" class="form-control" min="0" name="project_o_unit" readonly value ={{budget_item_cost.units}} hidden></td>
                <td></td>
                <td><input type="number" class="form-control" min="0" name="project_o_total" readonly value ={{budget_item_cost.totalCost}}></td>
                {% endif %}
                {% endfor %}
              </tr>                    
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <th scope="row">Total</th>
                      <td><input type="number" class="form-control" min="0" name="total_overal" readonly value="{{budget_estimate.cost}}"></td>
              </tr>
            </tbody>
          </table>
          <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" type="submit">Calculate budget estimates</button>      
        </form>
        <form class="card p-2" method="POST" action="{% url 'index'%}">{% csrf_token %}
          <input hidden name="back_button" id="back_button" type="number" value="0">
          <button class="btn btn-secondary btn-lg btn-block" type="submit">Back</button>
        </form>
      </div>
    
    
    </div>
  </div>
  {% block javascript %}
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script>
    $(function () {
      $(document).on('change', "#drone", function (e) {
        let value = $(this).val();
        var data = { value };
        var settings = {
          "url": "{% url 'drone' %}",
          "method": "GET",
          "timeout": 0,
          "headers": {
            "Content-Type": "application/json"
          },
          "data": data,
        };
        $.ajax(settings).done(function (response) {
          console.log(response);
          drone = response.data;
          $('#flightTime').val(drone.flight_time);
          $('#cruiseSpeed').val(drone.cruise_speed);
        });
      });


      $(document).on('change', "#survey_select", function (e) {
        let value = $(this).val();
        var data = { value };
        var settings = {
          "url": "{% url 'survey' %}",
          "method": "GET",
          "timeout": 0,
          "headers": {
            "Content-Type": "application/json"
          },
          "data": data,
        };
        $.ajax(settings).done(function (response) {
          console.log(response);
          survey = response.data;
          $('#forward').val(survey.forward);
          $('#lateral').val(survey.lateral);
        });
      });

      $(document).on('change keyup', ".test", function(e){
        e.preventDefault();
        $(this).closest('.test').submit();
      });
    });



      $(document).on('change', "#check_int_support", function (e) {
        $('#row_int_support').hide();
        //put the values of the inputs to zero 
        $("[name='international_unit']").val(0);
  
        $("[name='international_unit_cost']").val(0);
     
        prompt("Check check !!");
        unit = $("[name='international_unit']").val();
        cost = $("[name='international_unit']").val();

        console.log("Unit value "+unit+ " Cost "+ cost);
      });
     
     
    });

   function checkChanged(){
    // $("#check_int_support").live("click", function(){
    //     var id = parseInt($(this).val(), 10);
    //     if($(this).is(":checked")) {
    //         // checkbox is checked -> do something
    //         prompt("Check check !!")
    //     } else {
    //         // checkbox is not checked -> do something different
    //     }}
    //     );
   }
  </script>
  {% endblock javascript %}
</body>