<html>

<head>
  <title>Planner</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="text/javascript" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js">
  <link rel="text/javascript" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js">
</head>

<body class="bg-light">
  <div class="container">
    <div class="py-5 text-center">
      <h2>Budget Calculator</h2>       
    </div>
    <div class="row">
      <div class="col-md-4 order-md-2 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Mission Estimates</span>
        </h4>

        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Number of flights</h6>
            </div>
            <span class="text-muted">{{ planner_values.num_of_flights }}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Duration of the mission</h6>
            </div>
            <span class="text-muted">{{ planner_values.duration_mission }}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Orthophoto resolution</h6>
            </div>
            <span class="text-muted">{{ planner_values.ortho_reso }}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">DSM resolution</h6>
            </div>
            <span class="text-muted">{{ planner_values.dsm_reso }}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Total number of images captured</h6>
            </div>
            <span class="text-muted">{{ planner_values.num_images_captured }}</span>
          </li>
        </ul>
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Data Estimates</span>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Total size of digital files</h6>
            </div>
            <span class="text-muted">{{ planner_values.total_digital_files }}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Number of gigapixel</h6>
            </div>
            <span class="text-muted">{{ planner_values.num_gigapixel }}</span>
          </li>
        </ul>
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Budget Estimates</span>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between">
            <span>Budget (NAD)</span>
            <strong>$20</strong>
          </li>
        </ul>
      </div>
      <div class="col-md-8 order-md-1">
        <form action="{% url 'index'%}" class="card p-2" method="POST"> {% csrf_token %}
          <h3>Drone Type</h3>          
          <div class="input-group">            
            <label for="lastName">Choose drone model</label>
            <select name="drone" class="custom-select d-block w-100" onselect="get_drone_details()" id="drone" >
              {% for el in drones %}              
                {% if select_drone.id == el.id %}
                <option value={{el.id}} selected>{{el.name}}</option>
                {% endif %}
                <option value={{el.id}} >{{el.name}}</option>
              {% endfor %}
            </select>            
          </div>
          <label for="lastName">Choose camera model</label>
          <select name="camera" class="custom-select d-block w-100">
             {% for el in cameras %}
                {% if select_camera.id == el.id %}
                <option value={{el.id}} selected>{{el.camera_type}}</option>
                {% endif %}
                <option value={{el.id}}>{{el.camera_type}}</option>
              {% endfor %}
          </select>
          <br>
          <h3>Flight Parameters</h3>
          <label for="lastName">Enter flight height in meters above ground</label>
          <input type="number" name="flight_height" value="{{planner_values.flight_height}}" min="0" id="flight_height">
          <label for="lastName">Drone autonomy in minutes</label>
          <input type="number" min="0" disabled value="{{ select_drone.flightTime}}" id="flightTime">
          <label for="lastName">Drone flight speed in meters per second</label>
          <input type="number" min="0" disabled value="{{ select_drone.cruiseSpeed}}" id="cruiseSpeed">
          <label for="lastName">Choose battery capacity safety margin</label>
          <input type="number" min="0" name="battery_capacity" max="100" value="{{planner_values.battery_capacity}}" id="battery_capacity"> 
          <h3>Survey Parameters</h3>
          <label for="lastName">Enter area size and units</label>
          <input type="number" name="area_size" min="0" value="{{planner_values.area_size}}" >
          <select name="units" class="custom-select d-block w-100">
            <option value="meters" selected>m^2</option>
            <option value="kilometres">km2</option>
            <option value="acres">ar</option>
            <option value="hactares">ha</option>
          </select>
          <labell for="lastName">Choose survey type</labell>
          <select name="survey_select" class="custom-select d-block w-100" id="survey_select">
           {% for el in surveys %}
              {% if select_survey.id == el.id %}
                <option value={{el.id}} selected>{{el.name}}</option>
              {% endif %}
                <option value={{el.id}}>{{el.name}}</option>
           {% endfor %}   
          </select>
          <label for="lastName">Desired forward image overlap</label>
          <input type="number" name"forward"  min="0"  value="{{select.forward}}" id="forward" disabled> 
          <label for="lastName">Desired lateral image overlap</label>
          <input type="number" name="lateral" min="0" value="{{select.lateral}}" id="lateral" disabled>
          <label for="lastName">Enter distance from take-off to survey area</label>
          <input type="number" name="take_of_area" value="{{planner_values.take_of_area}}" id="take_of_area" min="0">
          <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" type="submit">Calculate mission estimates</button>
        </form>
      </div>
    </div>
  </div>
    {% block javascript %}
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script>
$(function(){   
$(document).on('change', "#drone", function(e) {
  let value = $(this).val();
  var data = {value};       
  var settings = {
  "url": "{% url 'drone' %}",
  "method": "GET",
  "timeout": 0,
  "headers": {
    "Content-Type": "application/json"
  },
  "data": data, 
};
    $.ajax(settings).done(function (response) {
      console.log(response);
      drone = response.data;
      $('#flightTime').val(drone.flight_time);
      $('#cruiseSpeed').val(drone.cruise_speed);	
    });
  });


  $(document).on('change', "#survey_select", function(e) {
  let value = $(this).val();
  var data = {value};       
  var settings = {
  "url": "{% url 'survey' %}",
  "method": "GET",
  "timeout": 0,
  "headers": {
    "Content-Type": "application/json"
  },
  "data": data, 
};
    $.ajax(settings).done(function (response) {
      console.log(response);
      survey = response.data;
      $('#forward').val(survey.forward);
      $('#lateral').val(survey.lateral);	
    });
  });

});
   </script>
    {% endblock javascript %}
</body>